In [15]:
import os
import pandas as pd

In [16]:
df = pd.read_csv('C:/Users/User/Desktop/work/Pandas/1.csv')
df.head()

  Name    type        date
0  IIT  Mumbai         NaN
1  NaN     NaN         NaN
2    1     Sai  12-10-2019
3  NaN     NaN         NaN
4    2    Babu  12-10-2020

In [17]:
df4 = df.iloc[0][0]
df4

'IIT'

In [18]:
df5 = df.iloc[0][1]
df5

'Mumbai'

In [19]:
df.columns = ['ID', 'Name', 'Date']
df

    ID    Name        Date
0  IIT  Mumbai         NaN
1  NaN     NaN         NaN
2    1     Sai  12-10-2019
3  NaN     NaN         NaN
4    2    Babu  12-10-2020

In [20]:
df.dropna(inplace = True)

In [22]:
df['College'] = df4
df['Location'] = df5
df

  ID  Name        Date College Location
2  1   Sai  12-10-2019     IIT   Mumbai
4  2  Babu  12-10-2020     IIT   Mumbai

In [23]:
df['Day'] = df['Date'].apply(lambda x: str(x).split('-')[0])
df['Month'] = df['Date'].apply(lambda x: str(x).split('-')[1])
df['Year'] = df['Date'].apply(lambda x: str(x).split('-')[2])
df
df.reset_index(drop = True)

  ID  Name        Date College Location Day Month  Year
0  1   Sai  12-10-2019     IIT   Mumbai  12    10  2019
1  2  Babu  12-10-2020     IIT   Mumbai  12    10  2020

In [9]:
for file in ['Pandas']:
    path = 'C:/Users/User/Desktop/work/{}'.format(file)
    files = os.listdir(path)
files

['.ipynb_checkpoints',
 '1.csv',
 '2.csv',
 'files',
 'IIT-Mumbai.csv',
 'NIT-Kanpur.csv',
 'Untitled-Copy1.ipynb',
 'Untitled.ipynb']

In [10]:
for file in ['Pandas']:
    path = 'C:/Users/User/Desktop/work/{}'.format(file)
    files = os.listdir(path)
       
    #extracting only files contaning .csv format
    data = []
    for f in files:
        if f[-3:] == 'csv':
            data.append(f)
    print(data)

['1.csv', '2.csv', 'IIT-Mumbai.csv', 'NIT-Kanpur.csv']

In [11]:
for file in ['Pandas']:
    path = 'C:/Users/User/Desktop/work/{}'.format(file)
    files = os.listdir(path)
       
    #extracting only files contaning .csv format
    data = []
    for f in files:
        if f[-3:] == 'csv':
            data.append(f)
            for name in data:
                df = pd.read_csv('C:/Users/User/Desktop/work/Pandas/{}'.format(name), encoding = 'ISO-8859-1')
                df.columns = ['ID', 'Name', 'Date']
                df4 = df.iloc[0][0] #for college name
                df5 = df.iloc[0][1] #for college loaction
                df.dropna(inplace = True)
                df['College'] = df4
                df['Location'] = df5
                df['Day'] = df['Date'].apply(lambda x: str(x).split('-')[0])
                df['Month'] = df['Date'].apply(lambda x: str(x).split('-')[1])
                df['Year'] = df['Date'].apply(lambda x: str(x).split('-')[2])
                df.reset_index(drop = True)
                df.to_csv('C:/Users/User/Desktop/work/Pandas/files/{}.csv'.format(df4 +'-'+ df5), index= False)

ValueError: Length mismatch: Expected axis has 8 elements, new values have 3 elements

In [12]:
files = [file for file in os.listdir('C:/Users/User/Desktop/work/Pandas/files')]

data = pd.DataFrame()

for file in files:
    df2 = pd.read_csv('C:/Users/User/Desktop/work/Pandas/files/' + file)
    data = pd.concat([data, df2])
data = data.reset_index(drop=True)

data

   ID     Name        Date College Location  Day  Month  Year
0   1      Sai  12-10-2019     IIT   Mumbai   12     10  2019
1   2     Babu  12-10-2020     IIT   Mumbai   12     10  2020
2   3  Krishna  12-12-2012     NIT   Kanpur   12     12  2012
3   4    Ramya  12-12-2013     NIT   Kanpur   12     12  2013